# Dependencies
node_modules/

# Env files
.env
.env.local
.env.*.local

# Build output
dist/
build/
apps/mobile/.expo/
apps/mobile/web-build/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

# Editors
.vscode/*
!.vscode/extensions.json

# Prisma
apps/api/prisma/*.db
